@{
    ViewData["Title"] = "Home";
}

<header class="parallax center" style="background-image: url(/Content/PageContent/vegetables-one.jpg)">
    <div class="text-center">
        <h1 class="text-white fs-3 fw-bolder">Smart Recipes</h1>
        <p class="text-white-50 mb-0">Find yourself better in the kitchen and facilitates the planning of daily meals by managing your recipes</p>
    </div>
</header>

<section class="py-5">
    <div class="container  my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Store your recipes</h2>
                <p class="lead">This simple application will help you organize your recipes, so that whenever you want to cook something for yourself, you can choose something from your collection.</p>
            </div>
        </div>
    </div>
</section>

<div class="parallax" style="background-image: url(/Content/PageContent/vegetables-two.jpg)"></div>

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Your own recipe book</h2>
                <p class="lead">All recipes you create will be available only to you. You can also use recipes built into the app.</p>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>
</section>

<div class="parallax" style="background-image: url(/Content/PageContent/vegetables-three.jpg)"></div>

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Just register and start cooking!</h2>
                <p class="lead">You can do it in the traditional way with a confirmation sent to your e-mail address, but also via Google and Facebook! The use of the application is very simple, but when you decide that you want to resign from its services, you can easily delete your account.</p>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>
</section>

<style>
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
        max-width: 100%;
        overflow-x: hidden;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>