@{
    ViewData["Title"] = "Home Page";
}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://images.wallpaperscraft.com/image/carrots_art_background_123239_1600x900.jpg') ">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" style="background-color: #383c44;" backgr src="Content/PageContent/logo.png" alt="logo" />
        <h1 class="text-white fs-3 fw-bolder">Smart Recipes</h1>
        <p class="text-white-50 mb-0">Find yourself better in the kitchen and facilitates the planning of daily meals by managing your recipes</p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Store your recipes</h2>
                <p class="lead">This simple application will help you organize your recipes, so that whenever you want to cook something for yourself, you can choose something from your collection.</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://images.wallpaperscraft.com/image/lime_slices_bubbles_106304_1600x900.jpg')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Just register and start cooking!</h2>
                <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
            </div>
        </div>
    </div>
</section>

<style>
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
        max-width: 100%;
        overflow-x: hidden;
    }
</style>

@section Scripts
{
    <script>
        var velocity = 0.3;
        function update(){ 
            var pos = $(window).scrollTop(); 
            $('.bg-image-full').each(function() {
                var $element = $(this);
                var height = $element.height()-18;
                $(this).css('backgroundPosition', '50% ' + Math.round((height - pos) * velocity) + 'px'); 
            }); 
        };
        $(window).bind('scroll', update);
    </script>
}