@using SmartRecipesMVC.Domain.Model.Connections
@using SmartRecipesMVC.Application.ViewModels.IngredientVm
@using System.Linq
@using SmartRecipesMVC.Domain.Model
@model SmartRecipesMVC.Application.ViewModels.RecipeVm.NewRecipeVm

@{
    ViewData["Title"] = "Add recipe";
}

<h1>AddRecipe</h1>

<h4>NewRecipeVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRecipe" id="form" enctype="multipart/form-data" type="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="col-form-label"></label>
                <input asp-for="CreateDate" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationTime" class="col-form-label"></label>
                <input asp-for="PreparationTime" class="form-control" />
                <span asp-validation-for="PreparationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portions" class="col-form-label"></label>
                <input asp-for="Portions" class="form-control" />
                <span asp-validation-for="Portions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preparation" class="col-form-label"></label>
                <textarea asp-for="Preparation" class="form-control"></textarea>
                <span asp-validation-for="Preparation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hints" class="col-form-label"></label>
                <input asp-for="Hints" class="form-control" />
                <span asp-validation-for="Hints" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Difficulty" class="col-form-label"></label>
                <select class="custom-select" id="inputGroupSelect01" asp-for="Difficulty">
                    <option value="@null" selected>Choose...</option>
                    <option value="Very easy">Very easy</option>
                    <option value="Easy">Easy</option>
                    <option value="Medium">Medium</option>
                    <option value="Hard">Hard</option>
                    <option value="Very hard">Very hard</option>
                </select>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RecipeIngredients" class="col-form-label"></label>
                <div class="row">
                    <div class="col-md-4">
                        <input class="btn btn-primary" type="button" id="btnAdd" value="Add product" />
                    </div>
                    <div class="col-md-4">
                        <input class="btn btn-danger" type="button" id="btnRemove" value="Remove last product" />
                    </div>
                </div>
                <div id="orderItemsContainer">
                    @Html.EditorFor(model => model.RecipeIngredients)
                </div>
                <span asp-validation-for="RecipeIngredients" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Images" class="col-form-label"></label>
                <div class="col-md-10">
                    <input type="file" name="files" multiple />
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
            </div>

            <input type="hidden" asp-for="IsActive" value="true" />

            <div class="row mt-2">
                <div class="col-md-4">
                    <input type="submit" value="Create recipe" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

    @section Scripts
{
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script type="text/javascript">
            $("#btnAdd").on('click', function () {
                $.ajax({
                    async: true,
                    data: $('#form').serialize(),
                    type: "POST",
                    url: '/Recipes/AddOrderItem',
                    success: function (partialView) {
                        console.log("partialView: " + partialView);
                        $('#orderItemsContainer').html(partialView);
                    }
                });
            });

            $("#btnRemove").on('click', function () {
                $.ajax({
                    async: true,
                    data: $('#form').serialize(),
                    type: "POST",
                    url: '/Recipes/RemoveOrderItem',
                    success: function (partialView) {
                        console.log("partialView: " + partialView);
                        $('#orderItemsContainer').html(partialView);
                    }
                });
            });
        </script>
    }
