@using SmartRecipesMVC.Domain.Model.Connections
@using SmartRecipesMVC.Application.ViewModels.IngredientVm
@using System.Linq
@using SmartRecipesMVC.Domain.Model
@model SmartRecipesMVC.Application.ViewModels.RecipeVm.NewRecipeVm

@{
    ViewData["Title"] = "AddRecipe";
}

<h1>AddRecipe</h1>

<h4>NewRecipeVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRecipe">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="col-form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-form-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="col-form-label"></label>
                <input asp-for="CreateDate" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationTime" class="col-form-label"></label>
                <input asp-for="PreparationTime" class="form-control" />
                <span asp-validation-for="PreparationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portions" class="col-form-label"></label>
                <input asp-for="Portions" class="form-control" />
                <span asp-validation-for="Portions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preparation" class="col-form-label"></label>
                <input asp-for="Preparation" class="form-control" />
                <span asp-validation-for="Preparation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hints" class="col-form-label"></label>
                <input asp-for="Hints" class="form-control" />
                <span asp-validation-for="Hints" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                <label asp-for="DifficultyId" class="col-form-label"></label>
                <select class="custom-select" id="inputGroupSelect01" asp-for="DifficultyId">
                    <option selected>Choose...</option>
                    <option value="1">Bardzo łatwe</option>
                    <option value="2">Łatwe</option>
                    <option value="3">Średnie</option>
                    <option value="4">Trudne</option>
                    <option value="5">Bardzo trudne</option>
                </select>
                <span asp-validation-for="DifficultyId" class="text-danger"></span>
            </div>

            @*<div>
                <asp:Button ID="BtnAgain" class="btn btn-primary" runat="server" OnClientClick="addNewIngredient()" Text="Click me" />
                <button type="button" class="btn btn-primary" OnClientClick="javascript:addNewIngredient()">Add more ingredient</button>
                <button type="button" class="btn btn-danger">Remove last ingredient</button>
            </div>
            
            <div id="ingredientDiv">
                <div class="form-group">
                    <label asp-for="RecipeIngredients" class="col-form-label"></label>
                    <input asp-for="RecipeIngredients" class="form-control" />
                    <span asp-validation-for="RecipeIngredients" class="text-danger"></span>
                </div>
            </div>*@

            <input type="hidden" asp-for="IsActive" value="true" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function addNewIngredient() {
            var newIngredient = document.createElement("div").setAttribute("class", "form-group");
            var newLabel = document.createElement("label");
            var newInput = document.createElement("input");
            var list = document.getElementById("ingredientDiv").getElementsByTagName("div");
            list.appendChild(newIngredient);
            newIngredient.appendChild(newLabel).appendChild(newInput);
        }
    </script>
}
