@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
    An email has been sent to the provided address.
</p>
<p>
    Click on the link to activate your account.
</p>
<p>
    After confirmation you can login to website.
</p>